.item {
    position: relative;
}

.item:not(:last-child) {
    margin-bottom: 30px;
}

.item::before {
    content: '';
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 3px;
    background-color: var(--greyD9);
}

.content {
    padding: 10px 20px 0;
}

.hidden{
    display: none;
}